<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>ewallet-web</display-name>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:Spring-config.xml</param-value>
	</context-param>

	<!-- 编码过滤器 -->
	<!-- 可配置一至多个需要忽略的编码URL，超过一个时以','隔开；
		注意：识别需要忽略的url时使用了String.indexOf(String str)方法，即凡是包含该字符串的url均被视为忽略编码，例如：
			配置了ignoreUrls为abc，会忽略/demo/abc/、/abc/encode，甚至/abcde，所以在配置时尽量配置指定url的全路径 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>com.keiver.madara.web.mvc.filter.SzfsCharacterEncodingFilter</filter-class>
		<async-supported>true</async-supported>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value><!-- 默认使用UTF-8编码 -->
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	
	<!-- shiro过滤器 -->
	<filter>
	    <filter-name>shiroFilter</filter-name>
	    <!-- DelegatingFilterProxy会到spring容器查找名字为shiroFilter（filter-name）的bean并把所有Filter的操作委托给它 -->
	    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	    <init-param>
	        <!-- 该值缺省为false，表示声明周期由SpringApplicationContext管理，设置为true表示Servlet管理 -->
	        <param-name>targetFilterLifecycle</param-name>
	        <param-value>true</param-value>
	    </init-param>
	</filter>
	<filter-mapping>
	    <filter-name>shiroFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	

	<!-- Spring监听器 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- 防止Spring内存溢出监听器 -->
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>

	<!-- Spring MVC servlet -->
	<servlet>
		<servlet-name>SpringMVC</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring/Spring-mvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
		<async-supported>true</async-supported>
	</servlet>
	<servlet-mapping>
		<servlet-name>SpringMVC</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>


	<!-- 生命周期结束时关闭dubbo服务 start -->
	<servlet>
		<servlet-name>dubboDestroyServlet</servlet-name>
		<servlet-class>com.keiver.madara.web.base.utils.DestroyServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<!-- 生命周期结束时关闭dubbo服务 end -->
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>